# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Editors
.vscode/
.idea/
*.swp
*.swo

# Build output
dist/
node_modules/

# Logs
*.log
npm-debug.log*
.wrangler/
.vite/
